*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.menu-content ul{
  text-align: center;
  padding: 10px;
  
  background-color: black;
  list-style: none;
}
.menu-content ul li{
  transition: transform 1.0s ease-out;
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  font-size: 20px;
}

.menu-content ul li:hover{
  transform: scale(1.4);
}
.menu-content ul li a{
  text-decoration: none;
  color: white;
}
.menu-content ul li a:hover{
  text-decoration: underline;
  color:#25d366;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image {
  position: absolute;
  top: 16px;
  left: 130px;
  color: white;
  font-size: 35px;
}

.top-right > a{
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.top-right > a:hover{
  opacity: 0.7;
}

.wrapper > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

body{
  /*background: #262626;*/
  background: white;
}
.wrapper{
  width: 100%;
  /*margin: 10% auto;*/
  margin-bottom: 15px;
}
.text h2{
  position: absolute;
  top: 30%;
  left:30%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}


.box{
  height:230px ;
  width: 30%;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0 22px;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* applies this */
.box{
  height:35% ;
  width:30%;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0 22px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.img1{
  position: absolute;
  z-index: 2;
  transition: .4s;
  transform-origin: 50%, 50%;
  width: 100%;
}
.img2{
  filter:blur(20px);
  transform: scale(1.1);
  opacity: 1;
  transition: .4s;
  width: 100%;
}
.box:hover .img1{
  filter: blur(20px);
  transform: scale(1.1);
  opacity: 0;
}

.box:hover .img2{
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}
.footer{
  text-align: center;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: cornflowerblue;
}
@media only screen and (max-width:1080px){

  .menu-content ul li{
    font-size: 16px;
    padding: 7px;
}

  .box{
    height:90% ;
    width:90%;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 22px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .img1{
    position: absolute;
    z-index: 2;
    transition: .4s;
    transform-origin: 50%, 50%;
    width: 100%;
  }
  .img2{
    filter:blur(20px);
    transform: scale(1.1);
    opacity: 1;
    transition: .4s;
    width: 100%;
  }

  .box:hover .img1{
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 0;
  }
  
  .box:hover .img2{
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
  .wrapper > h1{
    position: absolute;
    top: 15%;
    left:47%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  .text h2{
    position: absolute;
    top: 8%;
    left:23%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;

  }
  
  }
  










