*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.menu-content ul{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#081b31;
    list-style: none;
}
.menu-content ul li{
    transition: transform 0.2s ease-out;
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    font-size: 20px;
}

.menu-content ul li:hover{
    transform: scale(1.4);
}
.menu-content ul li a{
    text-decoration: none;
    color:white;
}
.menu-content ul li a:hover{
    text-decoration: underline;
    color:#25d366;
}
.darktheme{
    padding: 10px;
    height: 35px;
    width: 70px;
}


header h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 26px;
    
    font-size: 26px;
    text-align: center;
    color: #007BFF;
}
header h1:hover{
    color:#25d366;
}
.profile{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

/* .profile-photo{
     transition: transform 0.5s ease;
    
} */
/* .profile-photo:hover{
    transform: scale(1.4);
} */

.material-symbols-outlined{
    color: #0096F1;
}
.profile img{
    border: 5px solid #007bff;
    border-radius:50% ;
    width: 12%;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profile img:hover{
    border: 5px solid #25d366;
}
.profile p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
}
.profile h2 h3{
    text-align: center;
}
.profile h3{
    font-family: 'Courier New', Courier, monospace;
}
.spn{
    color: #007BFF;
}
.spn:hover{
    color: #25d366;
}
.profile a{
    text-decoration: none;
    color: #007BFF;
}
.profile-link:hover{
    color:#25d366;
}
table{
    border-collapse: collapse;
    height: auto;
    width: 100%;
}
th{
    background-color: #081b31;
    color: white;
    height: 50px;
}
td{
    color:white;
    height: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #122d4b;
}
th, td{
      text-align: center;
      padding: 10px;
}


.follow-button, .message-button, .call-button {
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.follow-button a, .message-button a, .call-button a, .dark a {
    color: white;
}

.follow-button {
    background-color: #0095f6;
    color: white;
}

.message-button {
    background-color:lightseagreen;
    color: white;
}

.call-button {
    background-color: #25d366;
    color: white;
}

.follow-button:hover, .message-button:hover, .call-button:hover {
    transform: scale(1.2);
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }

  .column img {
    float: left;
    width: 100%;
    padding: 5px;
    border-radius:10px;
    transition: transform 0.2s ease;
    /*transition-delay: 0.8s;*/
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .column img:hover{
    transform: scale(1.1);
  }
  .column h3 p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
  }
  .btn a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color:#007BFF;
    font-weight: bold;
  }
  .btn{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .btn:hover{
    background-color:#25d366;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .footer{
    width: 100%;
    height: 200px;
    font-size: 1em;
    background-color: #081b31;
    color: lightblue;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.footer > a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#25d366;
}
.footer a:hover{
    color:#007BFF;
}
.note{
    padding: 20px;
    text-align: center;
}
.note p a{
    padding-top: 10px;
    text-decoration:none;
    color: #25d366;
}

@media only screen and (max-width: 720px) {
    .menu-content ul li{
        font-size: 16px;
        padding: 7px;
    }
    header h1{
        font-size: 25px;
    }
    .profile img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    table{
        border-collapse: collapse;
        height: auto;
        width: 100%;
        border-radius: 5px;
        /*border-collapse:collapse ; */
    }
    .follow-button, .message-button, .call-button {
        display: inline-block;
        padding: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.5s ease;
    }
    .profile h2, h3{
        text-align: center;
    }

    .column {
        width: 100%;
        padding: 5px;
      }
    
      .column img {
        width: 100%;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      .column img {
        float: left;
        width: 100%;
        padding: 5px;
        border-radius:10px;
        transition: transform 0.5s ease;
        /*transition-delay: 0.8s;*/
        margin-bottom: 5px;
        margin-top: 15px;
      }
    }