.back-to-top {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2C3E50;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: #1a252f;
}
