<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Earth need</h4>
                    <ul>
                        <li><a href="article2.html">Need 1B tree</a></li>
                        <li><a href="#">Support Reforestation</a></li>
                        <li><a href="#">Heal the Planet</a></li>
                        <li><a href="#">Green Future Planning</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Transforming earth</h4>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#c">Articles</a></li>
                        <li><a href="/wallpaper/index.html">Wallpapers</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Connect-us</h4>
                    <ul>
                        <li><a href="/about/about.html">About Us</a></li>
                        <li><a href="/connect/contact.html">Contact-Us</a></li>
                        <li><a href="/legal/privacy-policy.html" target="_blank">Privacy Policy <i class="fa-solid fa-up-right-from-square"></i></a></li>
                        <li><a href="/legal/terms.html" target="_blank">Terms & Conditions <i class="fa-solid fa-up-right-from-square"></i></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#terrapix.com"><i class="fa-solid fa-earth-asia"></i></a>
                        <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.instagram.com/transformings.earth/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/share/1UuXHveyaj/" target="_blank"><i class="fab fa-facebook-f"></i></a>   
                    </div>
                    <p class="copyright">© 2025 Transforming Earth. All rights reserved.</p>
                    <div class="tree"><img src="/icons/tree.png" alt="icons Tree"></div>
                </div>
            </div>
        </div>
   </footer>
</body>
</html>